/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
      font-family: Helvetica;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-top: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  font-size: 10px;
}

/* Font */

.messages {
  font-size: 16px;
}

.navbar img{
  box-sizing: border-box;
  width: 100%;
  display: block;
}


.log {
  color: gray;
  font-size: 70%;
  margin: 15px 15px 0 15px;
  text-align: center;
  font-size: 200%;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: bold;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
  font-size: 150%;

}

.message{
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right span {
  background-color: #702222;
  color: white;
}

.right span, .right .photo{
  float: right;
}

.right .messageBody {
  border-radius: 10px 10px 0px 10px;
}


.messageBody{
  max-width: calc(100% - 55px);
  font-size: 14px;
  background-color: #F0F0F0;
  color: #000;
  padding: 16px;
  border-radius: 10px 10px 10px 0;
  display: inline-block;
}

/* Input */

.inputMessage {
      position: fixed !important;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  border-top: 1px solid grey;
  bottom: 0;
  outline: none;
  padding: 15px 10px;
  position: absolute;
  width: 100%;
  font-size: 12px;
  background-color: black;
  color: #cccccc;
}


.photo{
    float: left;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}


.matchSection{
  text-align: center;
  position: relative;
  margin: 40px 0;
}

.tickIcon{
  position: absolute;
  left: 50%;
  margin-left: -127px;
  display: table;
}

.matchSection:before,
.matchSection:after{
  content:"";
  position: absolute;
  top: 57px;
  width: 30%;
  height: 1px;
  background-color: #000;
}

.matchSection:before{
  left:20px;
}

.matchSection:after{
  right:20px;
}

.tickIcon span{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
  color: #fff;
}

.tickIcon span > img{
  width: 50%;
}
