@import 'nib'

h2
  font bold 18px Helvetica Neue, Arial

#irc, #messages
  width 600px

#irc
  position relative
  border 1px solid #ccc

#connecting
  position absolute
  height 410px
  z-index 100
  left 0
  top 0
  background #fff
  text-align center
  width 600px
  font 15px Georgia
  color #666
  display block
  .wrap
    padding-top 150px

.connected
  #connecting
    display none

#messages
  height 380px
  background #eee
  overflow auto
  overflow-x hidden
  overflow-y auto
  &::-webkit-scrollbar
    width 6px
    height 6px
  &::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
    display block
    height 10px
  &::-webkit-scrollbar-button:vertical:increment
    background-color #fff
  &::-webkit-scrollbar-track-piece
    background-color #fff
    -webkit-border-radius 3px
  &::-webkit-scrollbar-thumb:vertical
    height 50px
    background-color #ccc
    -webkit-border-radius 3px
  &::-webkit-scrollbar-thumb:horizontal
    width 50px
    background-color #fff
    -webkit-border-radius 3px
  em
    text-shadow 0 1px 0 #fff
    color #999
  p
    padding 0
    margin 0
    font 12px Helvetica, Arial
    padding 5px 10px
    b
      display inline-block
      padding-right 10px
  p:nth-child(even)
    background #fafafa
