// design heavily based on https://github.com/kkaefer/overlord, released under MIT
// Copyright (c) 2010-2011 Konstantin Käfer

body
  font-family 'Helvetica', 'Helvetica Neue', sans-serif
  margin 0
  color #333
  font-size 16px
  line-height 1.5em
  word-spacing 0.1em
  font-weight 400
  background #F9F9F9
  padding 50px

a
  border-bottom 1px solid #999
  text-decoration none
  &:hover
    border-color transparent
    background #EAEAEA

h2
  font-weight normal
  font-size 28px
  margin 24px 0 32px
  a
    color #666
    font-style normal

.test-list
  margin 0
  padding 0
  list-style none
  > li
    margin-left 36px
    margin-bottom 12px
    position relative
    &::before
      content "✔"
      background #ACD843
      padding 1px 6px
      position absolute
      top -2px
      right 100%
      margin-right 8px
      color white
    &.loading::before
      content "…"
      font-size 18px
      line-height 16px
      vertical-align middle
      padding 0px 4px 10px
      background #ccc
    &.test-failure::before
      content "✘"
      font-size 18px
      padding 1px 7px
      background #CD3A33
    span.name
      display inline-block
      width 150px
    span.bullet
      display inline-block
      width 20px
      font-size 20px
      vertical-align middle
    a
      color #333
    .details
      font-size 12px
      color #666
      em
        font-style normal
        color #333
    ul.cases
      font-size 11px
      padding 0
      display none
      li
        list-style-type none
        color #000
        &::before
          content "✔"
          color #ACD843
          margin-right 5px
        &.failed::before
          content "✘"
          color #CD3A33
          margin-right 6px
          margin-left 1px
        &.failed
          color #CD3A33
  > li.cases
    ul.cases
      display block
      span.error
        color #CD3A33
        display block
        line-height 5px
        padding-left 14px
        padding-bottom 5px

.warn
  background: #FFEFC6
  padding: 5px
  text-align: center
  font-size: 15px
  text-shadow: 0 1px 0 white
  margin-bottom: 30px
  b
    color: #AE0000
