doctype 5
html
  head
    link(href='/stylesheets/main.css', rel='stylesheet', media='all')
    script(src='/socket.io/socket.io.js')
    script(src='/javascript/jquery.js')
    script(src='/javascript/should.js')
    script(src='/javascript/script.js')
    script(src='/javascript/runner.js')

    - var json = JSON.stringify(testsPorts);
    script
      var testsPorts = !{json}

    script
      $(function () {
        run(
            'io.test.js'
          , 'parser.test.js'
          , 'util.test.js'
          , 'events.test.js'
          , 'socket.test.js'
        );
      });

    title Socket.IO tests runner
  body
    h2 Socket.IO test runner

    if ('websocket' == transport)
      #warn-ff: p.warn
      script
        if ($.browser.mozilla)
          $(function () {
            $('#warn-ff p').html('<b>WARN:</b> WebSocket within WebWorker '
              + '<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=504553">'
              + 'expected to fail</a> on Firefox');
          });
