/* Fix user-agent */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Font */
.messages, .inputMessage, .sendMessage {
  font-family: Arial;
  font-size: 20px;
}

.log {
  color: gray;
}

/* Messages */
.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 10px 60px 10px;
}

.message {
  overflow: hidden;
}

.username {
  color: rgb(255, 133, 0);
  float: left;
  overflow: hidden;
  padding-right: 10px;
  text-align: right;
  text-overflow: ellipsis;
  width: 15%;
}

.messageBody {
  float: left;
  width: 75%;
}

/* Input */
.inputArea {
  bottom: 0;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
}

.inputMessage {
  float: left;
  height: 100%;
  padding-left: 10px;
  width: 90%;
}

/* Send message button */
.sendMessage {
  float: left;
  height: 100%;
  width: 10%;
}