/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Pages */

.pages {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100px;
  margin-top: -100px;

  text-align: center;
}

.login.page .form .usernameInput {
  width: 400px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  text-align: center;
  outline: none;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 300%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages, .inputMessage {
  font-size: 150%;
}

.log {
  font-size: 70%;
  color: gray;
  text-align: center;
  margin: 5px;
}

/* Messages */

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 70px 20px;
}

.username {
  font-weight: 700;
  float: left;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

.messageBody {
  /*float: left;*/
}

/* Input */

.inputMessage {
  outline: none;
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  padding-left: 10px;
  width: 100%;
  border: 10px solid #000;
}